<!DOCTYPE html>

<html lang="en">


<!-- Head BEGIN -->
<head>
  <%-include("./partials/head")%>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
      <%-include("./partials/header")%>
       <!-- Header END -->

    <div class="main-wrapper">
      <div class="container" style="min-height:100vh;">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                  <table summary="Shopping cart">
                    <tr>
                      <th class="goods-page-image">Image</th>
                    <th class="goods-page-description">Description</th>
                    <th class="goods-page-ref-no">Size</th>
                    <th class="goods-page-description" style="width:150px;justify-content: center;">Quantity</th>
                    <th class="goods-page-price">Unit price</th>
                    <th class="goods-page-total" colspan="2">Total</th>
                  </tr>
                  <% for(product of cartProduct){%>
                  <tr>
                    <td class="goods-page-image">
                      <a href="javascript:;"><img src="<%=product.products[0].image[0].url%>" alt="<%=product.products[0].image[0].url%>"></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="javascript:;"><%=product.products[0].product_name%></a></h3>
                      <p><strong><%=product.products[0].details%></strong></p>
                    </td>
                     <td class="goods-page-ref-no">
                      <%=product.size%>
                    </td>
                    <td style="width:150px;justify-content: center;">
                      <div class="goods-page-description">
                        <span class="btn  bg-primary" onclick="dec(event,'<%=product.size%>')" style="width:30px;height: 30px;">-</span>
                        <input type="text" value="<%=product.quantity%>" id="<%=product._id%>" readonly class="cartButton" style="width:30px;height: 30px;border: 0px;text-align: center;">
                        <span class="btn  bg-primary" onclick="inc(event,'<%=product.size%>')" style="width:30px;height: 30px;">+</span>
                      </div>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>Rs.</span><%=product.products[0].mrp%></strong>
                    </td>
                    <td class="goods-page-total">
                      <strong id="<%=product._id%><%=product.size%>"><span>Rs.</span><%=(product.products[0].mrp*product.quantity)%></strong>
                    </td>
                    <td class="del-goods-col">
                      <form action="/cart/cartDelete" method="post">
                        <input name="cart_id" value="<%=product._id%>"  hidden>
                        <button type="submit" class="btn-warning"><b>Remove</b></button>
                      </form> 
                    </td>
                  </tr>
                  <!-- <%let value=0%>
                  <% value=value+(product.products[0].mrp*product.quantity)%>
                  <%=value%> -->
                 
                  </tr>
                <%}%>
                </table>
                </div>
                
                <div class="shopping-total">
                  <ul>
                    <li>
                      
                      <em>Sub total</em>
                      <strong class="price" id="subtotal">Rs. <%=total%></strong>
                    </li>
                    <li>
                      <em>Shipping cost</em>
                      <strong class="price" id="shipping">Rs.<%=shipping%></strong>
                    </li>
                    <li class="shopping-total-price">
                      <em>Total</em>
                      <strong class="price" id="total"><%=total+shipping%></strong>
                    </li>
                  </ul>
                </div>
              </div>
              <form action="/">
              <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
              </form>
              <form action="/checkout">
              <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button>
              </form>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
        <!-- END SIMILAR PRODUCTS -->
      </div>
    </div>

    <!-- BEGIN STEPS -->
    
    <!-- END STEPS -->

    <!-- BEGIN PRE-FOOTER -->
    
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <%-include("./partials/footer")%>
    <!-- END FOOTER -->

    <!-- BEGIN fast view of a product -->
    
    <!-- END fast view of a product -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="../../userPages/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="../../userPages/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../userPages/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../userPages/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="../../userPages/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="../../userPages/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="../../userPages/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="../../userPages/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='assets/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="../../userPages/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->
    <script src="../../userPages/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../userPages/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script><!-- for slider-range -->

    <script src="../../userPages/corporate/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
        });
    </script>
    <script>
      
      function dec(event,size){
        
        let quantity=event.currentTarget.nextElementSibling;
        let productId=quantity.id
        let value=-1
        
        if(quantity.value>1){
          fetch("/cart/cartEdit",
          {
             method:"POST",
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({productId,size,value})
          })
          .then(res=>res.json()).then(data=>{
              quantity.value--
              document.getElementById(productId+size).innerHTML='Rs.'+data.mrp
              document.getElementById("subtotal").innerHTML="Rs."+data.total
              let shipping=data.total*(5/100)
              document.getElementById("shipping").innerHTML="Rs."+shipping
              let total=data.total+shipping
              document.getElementById("total").innerHTML="Rs."+total
            })
           
        
      }
    }
    function inc(event,size){
        console.log(event.currentTarget.previousElementSibling);
        let quantity=event.currentTarget.previousElementSibling;
        let productId=quantity.id
        
        //console.log(cart)
        
        let value=1
        
        if(quantity){
          fetch("/cart/cartEdit",
          {
            method:"POST",
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({productId,size,value})
          })
          .then(res=>res.json()).then(data=>{
            quantity.value++
            document.getElementById(productId+size).innerHTML='Rs.'+data.mrp
            document.getElementById("subtotal").innerHTML="Rs."+data.total
            let shipping=data.total*(5/100)
            document.getElementById("shipping").innerHTML="Rs."+shipping
            let total=data.total+shipping
            document.getElementById("total").innerHTML="Rs."+total
          })
        
      }
    }
      
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>